In [2]:
#standartiniai moduliai
import numpy as np
import numpy.polynomial.polynomial as poly
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
from datetime import datetime
from dateutil import parser
# import mysql.connector as cnt
#import panel as pn
#pn.extension()
import seaborn as sns
import os, sys
print(os.getcwd())
fontsize=16 #for all entries
titlesize=24
labelsize=16
fwidth=6
fheight=4

c:\Users\rezav\OneDrive\Stalinis kompiuteris\Duomen≈≥ mokslas\JupyterNotebooksR

In [3]:
d = {'A':7, 'B':9, 'C':12}
d1 = {'A':5, 'B':11, 'C':15}
data = [d,d1]
df = pd.DataFrame(data=data)
df

   A   B   C
0  7   9  12
1  5  11  15

In [4]:
d = {'AB':np.random.rand(10), 'BC':np.random.randint(10,100,10)}

df = pd.DataFrame(data=d)
df

         AB  BC
0  0.887151  51
1  0.262658  51
2  0.346140  19
3  0.823928  81
4  0.215965  67
5  0.508448  32
6  0.803281  58
7  0.008545  74
8  0.160194  15
9  0.819588  55